* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background: rgba(126, 17, 17, 0.85);
    font-family: sans-serif;
    border-radius: 10px;
}

.holder {
    width: 100%;
    height: auto;
    padding: 5px;
    border: solid rgba(1, 1, 218, 0.812);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-page img{
    width: 150px;
    height: auto;
}

#game-page img:hover{
    border: solid 4px rgb(68, 255, 202);
}